html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a.btn.settingBtn {
  width: 100%;
  background: chocolate;
  border: 1px solid chocolate;
  color: white;
  font-weight: 500;
  padding: 7px;
  border-radius: 6px;
}
button.btn.settingBtn {
  width: 100%;
  background: chocolate;
  border: 1px solid chocolate;
  color: white;
  font-weight: 500;
  padding: 7px;
  border-radius: 6px;
  margin-top: 7px;
  margin-bottom: 12px;
}
a.btn.backBtn {
  background: lightgrey;
  width: 100%;
  font-weight: 500;
}
img{
  width: 100%;
}
nav.navbar{
  background-color: chocolate !important;
}
a.navbar-brand {
  color: #fff !important;
}
input {
  width: 100%;
  margin-bottom: 10px;
}
form {
  border: 1px solid lightgrey;
  padding: 48px 15px;
}
.inputDiv{
  text-align: left;
}
.content {
  border: 1px solid lightgray;
  padding: 10px;
  margin-top: 10px;
}